{% extends 'home/base.html' %}
{% block content %}
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %} ">Выйти {{ user.username }}</a>
    {% else %}
        <a href="{% url 'registration' %}">Регистрация</a>
        <a href="{% url 'login' %}">Логин</a>
    {% endif %}
    <form action="{% url 'search_book' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>
{% for book in books %}
    <div  class="media-body" >
<p class="text-right  font-weight-bold"> Название книги - {{ book.title }} </p>
<p class="text-right  font-italic" > Автор- {{ book.author }}</p>
<p class="text-right  font-italic" >  Дата выпуска - {{ book.release_data }}</p>
        <a href="{% url 'book_detail' pk=book.pk %}">Detail</a>
  </div>

    {% endfor %}
{% endblock %}