{% extends 'home/base.html' %}
{% block content %}
{% for book in books %}
    <div  class="media-body" >
<p class="text-right  font-weight-bold"> Название книги - {{ book.title }} </p>
<p class="text-right  font-italic" > Дата выпуска - {{ book.released_data }}</p>
<p class="text-right  font-italic" > Автор - {{ book.author_name }}</p>
        <a href="{% url 'book_list' %}">Home</a>
            <a href="{% url 'book_detail' index=book.id %}">{{ book.title }}</a>

  </div>

    {% endfor %}
{% endblock %}